# Ignore node_modules
node_modules/

# Ignore les fichiers de logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore les fichiers d'OS et IDE
.DS_Store
.vscode/
.idea/

# Ignore les fichiers de build
.next/
out/
